sentry_name             = "sentry-vm"
sentry_hostname         = "sentry-vm.example.org"
sentry_machine_type     = "n1-standard-2"
sentry_image            = "ubuntu-os-cloud/ubuntu-2004-lts"
ansible_playbook_name   = "sentry-playbook.yml"
network_interface       = "default"
project_name            = "<CHANGEME>"
gcp_credentials_path    = "terraform.json"
region                  = "europe-west2"
zone                    = "europe-west2-c"
ssh_username            = "ubuntu"
ssh_pub_key_path        = "~/.ssh/ubuntu.pub"
ssh_pri_key_path        = "~/.ssh/ubuntu"
